{% extends 'main.html' %}

{% block nav %}{{ navbar('battles', current_user) }}{% endblock %}

{% macro tag() %}
    <a href='#' class="label label-default" data-bind="text: $data.name + ' (' + $data.count + ')', css: 'label ' + ($data.selected()?'label-success':''), click: $data.click"></a>
{% endmacro %}

{% block main_area %}
    {% include "partial/info_modal.html" %}
    <div id="battles">
        <div class="bs-callout bs-callout-unit">
            <h1 class="text-center">
                <span style="color: #f0ad4e" data-bind="text:win"></span> /
                <span style="color: darkgray" data-bind="text:draw"></span> /
                <span style="color: #f00000" data-bind="text:lose"></span>
            </h1>
            <div class="text-center text-muted" data-bind="visible: !tagList.selectedTag()">
                <p>win / draw / lose</p>
            </div>
            <div class="text-muted text-center">
                <p data-bind="text: tagList.selectedTag()?tagList.selectedTag().name:'' "></p>
            </div>
        </div>
    {% if not read_only %}
        <div class="row">
            <div class="col-md-12">
                <div class="pull-left">
                    <a href="{{ url_for('battles.new') }}" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> New</a>
                </div>
                <div class="pull-right" data-bind="with: $data.del">
                    <button type="button" class="btn btn-danger" data-bind="click: deleteObjs, visible: deletingAllowed"><span class="glyphicon glyphicon-trash"></span> Delete</button>
                    <button type="button" class="btn btn-default" data-bind="click: selectAll"><span class="glyphicon glyphicon-check"></span> Select all</button>
                    <button type="button" class="btn btn-default" data-bind="click: clear, visible: deletingAllowed"><span class="glyphicon glyphicon-unchecked"></span> Clear</button>
                </div>
            </div>
        </div>
    {% endif %}
        <p data-bind="foreach: tagList.tags">
            {{ tag() }}
        </p>
        <div data-bind="foreach: battles">
            <div class="bs-callout" data-bind="css: {'bs-callout-win':result()=='Win', 'bs-callout-lose':result()=='Lose', 'bs-callout-draw':result()=='Draw'}, visible: visible">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="pull-left">
                            <a {% if not read_only %}data-bind="attr: {'href': url}"{% endif %}><span data-bind="text: result"></span> <span class="text-muted">@ <span data-bind="text: played"></span></span></a>
                        </h4>
                        <h5 class="pull-right">
                            <span data-bind="foreach: sides" class="text-muted">
                                <span data-bind="if: url">
                                    <a data-bind="attr: {'href': url}"><span data-bind="text: name"></span> <span class="glyphicon glyphicon-link"></span></a>
                                </span>
                                <span data-bind="if: !url" >
                                    <span data-bind="text: name"></span>
                                </span>
                            </span>
                        </h5>
                    </div>
                </div>
                <p class="text-muted"><em data-bind="html: description"></em></p>
                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-left" data-bind="foreach: $data.tagsObj">
                            {{ tag() }}
                        </div>
                    {% if not read_only %}
                        <div class="pull-right">
                            <input type="checkbox" data-bind="checked: $data.selected"/>
                        </div>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var BattleInfo = function(data) {
            var self = this;
            this.id = data.id;
            this.result = ko.observable(data.result);
            this.url = ko.observable(data.url);
            this.played = ko.observable(moment(new Date(data.date.year, data.date.month - 1, data.date.day)).format('LL'));
            this.description = ko.observable(data.description);
            this.tags = ko.observableArray(data.tags);
            this.sides = ko.observableArray(data.sides.map(function(s){
                return {name: s.name, url: s.roster_url};
            }));
        };

        var BattleList = function(data) {
            var self = this;
            this.win = ko.observable(0);
            this.draw = ko.observable(0);
            this.lose = ko.observable(0);
            this.battles = ko.observableArray(this.buildBattles(data.battles));
            this.tagList = new TagListControl(this.battles(), function() { self.calcResult(); });
            this.del = new DelSelector(this.battles(), function(ids) { return self.deleteBattles(ids); });
            this.delUrl = data.delUrl;
            this.calcResult();
        };

        BattleList.prototype.buildBattles = function(battles) {
            return battles.map(function(v) {
                return new BattleInfo(v);
            });
        };

        BattleList.prototype.deleteBattles = function(objs) {
            var self = this;
            document.modalInfo.warning('Delete all selected battles? Are you sure?', function() {
                 new AjaxTransport(self.delUrl).send({'delete': objs}, function(data) {
                    if (data.battles) {
                        var battles = self.buildBattles(data.battles);
                        self.tagList.reset(battles);
                        self.del.reset(battles);
                        self.battles(battles);
                        self.calcResult();
                    }
                });
            });
        };

        BattleList.prototype.calcResult = function() {
            var win = 0, draw = 0, lose = 0;
            this.battles().forEach(function(v) {
                if (!v.visible())
                    return;
                if (v.result() == 'Win')
                    win ++;
                else if (v.result() == 'Lose')
                    lose ++;
                else if (v.result() == 'Draw')
                    draw ++;
            });
            this.win(win);
            this.lose(lose);
            this.draw(draw);
        };

        ko.applyBindings(new BattleList({
            battles: {{ battles|tojson|safe }},
            delUrl: {{ url_for('battles.delete_many')|tojson|safe }}
        }), document.getElementById('battles'));
    </script>
{% endblock %}
