{% extends "mail.html" %}
{% block mail_text_area %}
    <div style="overflow: auto;">
        <div style="float: left;">
            <div>От: <i>{{ mail.zone.message.from_user.username }} ({{ mail.zone.message.send_time }})</i></div>
            <div>Кому: <i>{{ mail.zone.message.to_user.username }} {% if mail.zone.message.read_time %}({{ mail.zone.message.read_time }}){% endif %}</i></div>
        </div>
        <div style="float: right;">
            <a class="btn" href="/mail/reply/{{ mail.zone.message.id }}"><i class="icon-share-alt"></i> Ответить</a>
            {% if mail.zone.trash %}
                <a class="btn" href="/mail/restore/{{ mail.zone.message.id }}"><i class="icon-remove"></i> Восстановить</a>
                <a class="btn" href="/mail/delete/{{ mail.zone.message.id }}"><i class="icon-trash"></i> Удалить навсегда</a>
            {% else %}
                <a class="btn" href="/mail/delete/{{ mail.zone.message.id }}"><i class="icon-trash"></i> Удалить</a>
            {% endif %}
        </div>
    </div>

    {% include 'mail_text.html' %}
{% endblock %}
