{% extends "main.html" %}

{% block scripts %}
    <script type="text/javascript" src="/static/extern/jquery.scrollto.js"></script>
    {% load compress %}
    {% compress js %}
        <script type="text/javascript" src="/static/scripts/tools.js"></script>
    {% endcompress %}
{% endblock %}

{% block text_area %}
    <div class="row-fluid">
    <div class="tabbable tabs-left">
        <ul id="settingTab" class="nav nav-tabs">
            <li{% if not avatar_form %} class="active"{% endif %}><a href="#secure" data-toggle="tab">Безопасность</a></li>
            <li><a href="#profile" data-toggle="tab">Профиль</a></li>
            <li><a href="#settings" data-toggle="tab">Настройки</a></li>
            <li{% if avatar_form %} class="active"{% endif %}><a href="#avatar" data-toggle="tab">Аватар</a></li>
            <li><a href="#stream" data-toggle="tab">Лента</a></li>
        </ul>
        <div id="settingTabContent" class="tab-content">
            <div class="tab-pane fade {% if not avatar_form %}in active{% endif %}" id="secure">
                <div data-bind="visible: connectionError">
                    <div class="alert alert-error">
                        <strong>Ошибка!</strong> Не удалось подключиться к серверу, проверьте соединение с интернетом и повторите попытку.
                    </div>
                </div>
                <div data-bind="visible: success">
                    <div class="alert alert-warning">
                        <button class="close" data-bind="click: closeSuccess">×</button>
                        Настройки успешно обновлены
                    </div>
                    <hr>
                </div>
                <form class="form-horizontal">
                <fieldset>
                    <div id="password" class="control-group" data-bind="css: {error: denied()}">
                        <label class="control-label">Текущий пароль</label>
                        <div class="controls">
                            <input data-bind="value: password" placeholder="Обязательное поле" type="password" class="span12">
                            <p data-bind="visible: denied()" class="help-block">Неверный пароль</p>
                        </div>
                    </div>
                    <hr>
                    <div id="new_password" class="control-group" data-bind="css: {error: pass_not_eq()}">
                        <label class="control-label">Новый пароль*</label>
                        <div class="controls">
                            <input data-bind="value: new_password" type="password" class="span12">
                        </div>
                    </div>
                    <div id="again_password" class="control-group" data-bind="css: {error: pass_not_eq()}">
                        <label class="control-label">Повторите*</label>
                        <div class="controls">
                            <input data-bind="value: again_password" type="password" class="span12">
                            <p data-bind="visible: pass_not_eq()" class="help-block">Пароли не совпадают</p>
                        </div>
                    </div>
                    <div id="email" class="control-group" data-bind="css: {error: not_valid_email()}">
                        <label class="control-label">E-mail</label>
                        <div class="controls">
                            <input data-bind="value: email" type="text" class="span12">
                            <p data-bind="visible: not_valid_email()" class="help-block">Не верный e-mail адрес</p>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button data-bind="click: send" class="btn btn-primary">Отправить</button>
                    </div>
                    </fieldset>
                    <p>* Если не хотите менять пароль оставьте данные поля пустыми.</p>
                </form>
            </div>
            <div class="tab-pane fade" id="profile">
                <div data-bind="visible: connectionError">
                    <div class="alert alert-error">
                        <strong>Ошибка!</strong> Не удалось подключиться к серверу, проверьте соединение с интернетом и повторите попытку.
                    </div>
                </div>
                <div data-bind="visible: success">
                    <div class="alert alert-warning">
                        <button class="close" data-bind="click: closeSuccess">×</button>
                        Настройки успешно обновлены
                    </div>
                    <hr>
                </div>
                <form class="form-horizontal">
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label">Страна</label>
                            <div class="controls">
                                <input data-bind="value: country" type="text" class="span12">
                            </div>
                        </div>
                        <div class="control-group ">
                            <label class="control-label">Город</label>
                            <div class="controls">
                                <input data-bind="value: city" type="text" class="span12">
                            </div>
                        </div>
                        <div class="control-group ">
                            <label class="control-label">День рождения</label>
                            <div class="controls">
                                <label class="checkbox">
                                    <input data-bind="checked: empty_birth" type="checkbox">Не указывать
                                </label>
                            </div>
                            <div data-bind="visible: !empty_birth()" class="controls controls-row">
                                <select data-bind="options: dayValues, value: day" class="span3"></select>
                                <select data-bind="options: monthValues, optionsText: monthName, value: month" class="span5"></select>
                                <select data-bind="options: yearValues, value: year" class="span4"></select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">О себе</label>
                            <div class="controls">
                                <textarea id="about" data-bind="value: about" class="span12" rows="3">{{ about }}</textarea>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button  data-bind="click: send" class="btn btn-primary">Отправить</button>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="tab-pane fade" id="settings">
                <div class="row-fluid">
                    <div data-bind="visible: connectionError">
                        <div class="alert alert-error">
                            <strong>Ошибка!</strong> Не удалось подключиться к серверу, проверьте соединение с интернетом и повторите попытку.
                        </div>
                    </div>
                    <div data-bind="visible: success">
                        <div class="alert alert-warning">
                            <button class="close" data-bind="click: closeSuccess">×</button>
                            Настройки успешно обновлены
                        </div>
                        <hr>
                    </div>
                    <form class="form-horizontal">
                        <fieldset>
                            <div class="control-group">
                                <label class="control-label">Название блога</label>
                                <div class="controls">
                                    <input data-bind="value: title" type="text" class="span12">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Описание блога</label>
                                <div class="controls">
                                    <input data-bind="value: desc" type="text" class="span12">
                                </div>
                            </div>
                            <hr>
                            <div class="control-group">
                                <label class="control-label">Оповещения</label>
                                <div class="controls">
                                    <label class="checkbox">
                                        <input data-bind="checked: message_notify" type="checkbox">Посылать оповещения о новых личных сообщениях
                                    </label>
                                    <label class="checkbox">
                                        <input data-bind="checked: bookmarked_notify" type="checkbox">Посылать оповещения о новых комментариях к постам в закладках
                                    </label>
                                    <label class="checkbox">
                                        <input data-bind="checked: post_notify" type="checkbox">Посылать оповещения о новых комментариях к написаным мной постам
                                    </label>
                                </div>
                            </div>
                            <hr>
                            <div class="control-group">
                                <label class="control-label">Хранить в закладках</label>
                                <div class="controls">
                                    <label class="checkbox">
                                        <input data-bind="checked: keep_always" type="checkbox">Вечно
                                    </label>
                                    <div data-bind="visible: !keep_always()">
                                        <select data-bind="options: keepValues, value: keep" class="input-small"></select>
                                        <p class="help-block">Укажите сколько дней хранить в закладках написанные или прокомментированные Вами посты</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button class="btn btn-primary" data-bind="click: send" >Отправить</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="tab-pane fade {% if avatar_form %}in active{% endif %}" id="avatar">
                <div class="row-fluid">
                    <form class="form-horizontal" enctype="multipart/form-data" class="form-horizontal" action="" method="POST">
                        <fieldset>
                            <div class="control-group">
                                <label class="control-label">Текущий аватар</label>
                                <div class="controls">
                                    <div><img src="/static/avatars/{{ stable.auth.avatar }}" alt=""></div>
                                </div>
                            </div>
                            <div class="control-group {% if form.avatar.errors %}error{% endif %}">
                                <label class="control-label">Изменить</label>
                                <div class="controls">
                                    {{ form.avatar}}
                                    {% for error in form.avatar.errors %}
                                        <p class="help-block">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-actions">
                                <button class="btn btn-primary" type="submit">Отправить</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="tab-pane fade" id="stream">
                <div data-bind="visible: connectionError">
                    <div class="alert alert-error">
                        <strong>Ошибка!</strong> Не удалось подключиться к серверу, проверьте соединение с интернетом и повторите попытку.
                    </div>
                </div>
                <div data-bind="visible: tagError">
                    <div class="alert alert-error">
                        <strong>Ошибка!</strong> Не найдены разделы: <span data-bind='text: failedTags'></span>
                    </div>
                </div>
                <div data-bind="visible: userError">
                    <div class="alert alert-error">
                        <strong>Ошибка!</strong> Не найдены пользователи: <span data-bind='text: failedUsers'></span>
                    </div>
                </div>
                <div data-bind="visible: success">
                    <div class="alert alert-warning">
                        <button class="close" data-bind="click: closeSuccess">×</button>
                        Настройки успешно обновлены
                    </div>
                    <hr>
                </div>
                <div class="row-fluid">
                    <form class="form-horizontal">
                        <fieldset>
                            <div class="control-group">
                                <label class="control-label">Разделы</label>
                                <div class="controls">
                                    <label class="radio">
                                        <input type="radio" value="all" data-bind="checked: tagFilter">
                                        Включить все
                                    </label>
                                    <label class="radio">
                                        <input type="radio" value="include" data-bind="checked: tagFilter">
                                        Включить конкретные
                                    </label>
                                    <div data-bind="visible: tagFilter()=='include'">
                                        <input type="text" class="span12" data-bind="value: includeTags">
                                        <p class="help-block">Укажите какие именно разделы необходимо включить в ленту</p>
                                    </div>
                                    <label class="radio">
                                        <input type="radio" value="exclude" data-bind="checked: tagFilter">
                                        Исключить конкретные
                                    </label>
                                    <div data-bind="visible: tagFilter()=='exclude'">
                                        <input type="text" class="span12" data-bind="value: excludeTags">
                                        <p class="help-block">Укажите какие именно разделы необходимо исключить из ленты</p>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="control-group">
                                <label class="control-label">Пользователи</label>
                                <div class="controls">
                                    <label class="radio">
                                        <input type="radio" value="all" data-bind="checked: userFilter">
                                        Включить всех
                                    </label>
                                    <label class="radio">
                                        <input type="radio" value="include" data-bind="checked: userFilter">
                                        Включить конкретных
                                    </label>
                                    <div data-bind="visible: userFilter()=='include'">
                                        <input type="text" class="span12" data-bind="value: includeUsers">
                                        <p class="help-block">Укажите посты каких именно пользователей включить в ленту</p>
                                    </div>
                                    <label class="radio">
                                        <input type="radio" value="exclude" data-bind="checked: userFilter">
                                        Исключить конкретных
                                    </label>
                                    <div data-bind="visible: userFilter()=='exclude'">
                                        <input type="text" class="span12" data-bind="value: excludeUsers">
                                        <p class="help-block">Укажите посты каких именно пользователей необходимо исключить из ленты</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button class="btn btn-primary" data-bind="click: send">Отправить</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var Secure = function(email) {
            var self = this;
            this.email = ko.observable(email);
            this.password = ko.observable('');
            this.new_password = ko.observable('');
            this.again_password = ko.observable('');
            this.pass_not_eq = ko.observable(false);
            this.not_valid_email = ko.observable(false);
            this.denied = ko.observable(false);
            this.success = ko.observable(false);
            this.connectionError = ko.observable(false);
            this.closeSuccess = function() {
                self.success(false);
            };
            this.send = function() {
                self.pass_not_eq(false);
                self.not_valid_email(false);
                self.denied(false);
                self.success(false);
                self.connectionError(false);

                var valid = true;
                if (self.new_password() != self.again_password()){
                    self.pass_not_eq(true);
                    valid = false;
                }
                if (!isValidEmail(self.email())) {
                    self.not_valid_email(true);
                    valid = false;
                }
                if (!valid)
                    return;
                Dajaxice.waaagh.multiblog.update_secure(
                        function(res) {
                            self.denied(res.result === 'denied')
                            self.success(res.result === 'success')
                        },
                        {
                            'password': self.password(),
                            'new_password': self.new_password(),
                            'email': self.email()
                        },
                        {'error_callback': function(){
                            self.connectionError(true);
                        } } );
            }
        };
        var Profile = function(country, city, empty_birth, birth_year, birth_month, birth_day, about) {
            var self = this;
            this.country = ko.observable(country);
            this.city = ko.observable(city);
            this.about = ko.observable(about);
            this.year = ko.observable(birth_year);
            this.yearValues = ko.observableArray(genArray(1900, new Date().getFullYear()));
            this.month = ko.observable(birth_month);
            this.monthValues = ko.observableArray(genArray(1, 12));
            this.day = ko.observable(birth_day);
            this.dayValues = ko.observableArray(genArray(1, 31));
            this.empty_birth = ko.observable(empty_birth);
            this.monthNames = {
                1: 'январь',
                2: 'февраль',
                3: 'март',
                4: 'апрель',
                5: 'май',
                6: 'июнь',
                7: 'июль',
                8: 'август',
                9: 'сентябрь',
                10: 'октябрь',
                11: 'ноябрь',
                12: 'декабрь'
            };
            this.monthName = function(el) {
                return self.monthNames[el];
            };

            this.success = ko.observable(false);
            this.connectionError = ko.observable(false);
            this.closeSuccess = function() {
                self.success(false);
            };

            this.send = function() {
                self.success(false);
                self.connectionError(false);

                Dajaxice.waaagh.multiblog.update_profile(
                    function(res) {
                        self.success(res.result === 'success')
                    },
                    {
                        'country' : self.country(),
                        'city' : self.city(),
                        'date' : self.empty_birth() ? false :
                        {
                            'day': self.day(),
                            'month': self.month(),
                            'year': self.year()
                        },
                        'about' : self.about()
                    },
                    {'error_callback': function(){
                        self.connectionError(true);
                    } } );
            };
        };
        var Settings = function( blog_title, blog_description, new_messages_notify, new_bookmarked_comments_notify,
                                 new_my_post_comments_notify, always_keep_bookmarks, keep_bookmarks) {
            var self = this;
            this.title = ko.observable(blog_title);
            this.desc = ko.observable(blog_description);
            this.message_notify = ko.observable(new_messages_notify);
            this.bookmarked_notify = ko.observable(new_bookmarked_comments_notify);
            this.post_notify = ko.observable(new_my_post_comments_notify);
            this.keep_always = ko.observable(always_keep_bookmarks);
            this.keep = ko.observable(keep_bookmarks);
            this.keepValues = ko.observable(genArray(1, 30));

            this.success = ko.observable(false);
            this.connectionError = ko.observable(false);
            this.closeSuccess = function() {
                self.success(false);
            };

            this.send = function() {
                self.success(false);
                self.connectionError(false);

                Dajaxice.waaagh.multiblog.update_settings(
                        function(res) {
                            self.success(res.result === 'success')
                        },
                        {
                            'blog_title': self.title(),
                            'blog_desc': self.desc(),
                            'message_notify': self.message_notify(),
                            'bookmarked_notify': self.bookmarked_notify(),
                            'post_notify': self.post_notify(),
                            'keep': self.keep_always() ? true : self.keep()
                        },
                        {'error_callback': function(){
                            self.connectionError(true);
                        } } );
            };
        };

        var Stream = function(tagFilter, userFilter, tags, users) {
            var self = this;
            this.tagFilter = ko.observable(tagFilter);
            this.includeTags = ko.observable(tagFilter == 'include' ? reduceSeparator(tags) : '');
            this.excludeTags = ko.observable(tagFilter == 'exclude' ? reduceSeparator(tags) : '');

            this.userFilter = ko.observable(userFilter);
            this.includeUsers = ko.observable(userFilter == 'include' ? reduceSeparator(users) : '');
            this.excludeUsers = ko.observable(userFilter == 'exclude' ? reduceSeparator(users) : '');

            this.success = ko.observable(false);
            this.connectionError = ko.observable(false);
            this.closeSuccess = function() {
                self.success(false);
            };

            this.userError= ko.observable(false);
            this.failedUsers= ko.observable('');
            this.tagError= ko.observable(false);
            this.failedTags= ko.observable('');

            this.send = function() {
                self.success(false);
                self.connectionError(false);
                self.userError(false);
                self.tagError(false);

                Dajaxice.waaagh.multiblog.update_stream(
                    function(res) {
                        self.success(res.result === 'success')
                        if (res.result['fail'] != undefined)
                        {
                            if (res.result.fail.users.length > 0)
                            {
                                self.userError(true);
                                self.failedUsers(reduceSeparator(res.result.fail.users, ','));
                            }
                            if (res.result.fail.tags.length > 0)
                            {
                                self.tagError(true);
                                self.failedTags(reduceSeparator(res.result.fail.tags, ','));
                            }
                        }
                    },
                    {
                        'tag_filter': self.tagFilter(),
                        'tags': (self.tagFilter() == 'include' ? trimmedSplit(self.includeTags()) : self.tagFilter() == 'exclude' ? trimmedSplit(self.excludeTags()) : '' ),
                        'user_filter': self.userFilter(),
                        'users': (self.userFilter() == 'include' ? trimmedSplit(self.includeUsers()) : self.userFilter() == 'exclude' ? trimmedSplit(self.excludeUsers()) : '' )
                    },
                    {'error_callback': function(){
                        self.connectionError(true);
                    } } );
            };

        };

        ko.applyBindings(new Secure("{{ e_mail }}"), document.getElementById("secure"));
        ko.applyBindings(new Profile("{{ country }}", "{{ city }}", {{empty_birth}}, "{{ birth_year }}", "{{ birth_month }}", "{{ birth_day }}", $('#about').val()), document.getElementById("profile"));
        ko.applyBindings(new Settings("{{ blog_title }}", "{{ blog_description }}", parseBool("{{ new_messages_notify }}"), parseBool("{{ new_bookmarked_comments_notify }}"), parseBool("{{ new_my_post_comments_notify }}"), parseBool("{{ always_keep_bookmarks }}"), "{{ keep_bookmarks }}"), document.getElementById("settings"));
        ko.applyBindings(new Stream("{{ filter_tags }}", "{{ filter_users }}", [{% for tag in filter_tags_list %}'{{ tag }}', {% endfor %}], [{% for user in filter_users_list %}'{{ user }}', {% endfor %}]), document.getElementById("stream"));

    </script>
    </div>
{% endblock %}
