{% macro options_description(options) -%}
    <span class="text-muted">
        {%- for option in options %}
            {% if option.count -%}
                <em>{{ option.name }}{% if option.count > 1 -%} (x{{ option.count }}){%- endif -%};</em>
            {%- endif -%}
        {%- endfor -%}
    </span>
{%- endmacro -%}

{% macro errors(errors) %}
    <div class="row">
        <div class="col-md-12">
        {% for error in errors %}
            <div class="alert alert-danger">
                <strong>Error!</strong> {{ error }}
            </div>
        {% endfor %}
        </div>
    </div>
{% endmacro %}
    
{% macro unit_header(unit) -%}
    <div class="row">
        <div class="col-md-12">
            <h4>
                {% if unit.description.count > 1 %}<span class="text-muted">{{ unit.description.count }}x</span>{% endif %}
                {{ unit.description.name }}
                <span class="text-muted">({{ unit.description.points }}pt.)</span>
            </h4>
            {{ errors(unit.errors) }}
        </div>
    </div>
{%- endmacro -%}

{% macro section_header(section, hsize) -%}
    <div class="row">
        <div class="col-md-12">
            <div class="pull-left">
                <h{{ hsize }}>{{ section.name }}</h{{ hsize }}>
            </div>
            <div class="pull-right">
                <h{{ hsize }} class="text-muted">[ {{ section.units|length }} ]</h{{ hsize }}>
            </div>
        </div>
    </div>
{%- endmacro -%}

{%- macro build_unit(unit) -%}
    <div class="row-fluid" >
        <div>{{ options_description(unit.description.options) }}</div>
        {% for unit in unit.description.sub_units recursive %}
            <div>
                {% if unit.sub_units|length %}
                    <h5>
                        {% if unit.count > 1 %}<span class="text-muted">{{ unit.count }}x</span> {% endif %}{{ unit.name }} <span class="muted">({{ unit.points }}pt.)</span>
                    </h5>
                    <div>{{ options_description(unit.options) }}</div>
                    <div style="margin-left: 20px">
                        {{ loop(unit.sub_units) }}
                    </div>

                {% else %}
                    <span class="text-muted">&sect; {{ unit.count }}x</span>
                    {{ unit.name }}{% if unit.points %} ({{ unit.points }}pt.){% endif %}</span>;
                    {{ options_description(unit.options) }}
                {% endif %}
            </div>
        {% endfor %}
    </div>
{%- endmacro -%}

{%- macro build_detach_unit(unit) %}
    {%- for option in unit.options -%}
        {%- if option.roster.options_description -%}
            <span class="text-muted">

                {%- for option in option.roster.options_description %}
                    <em>{{ option.name|safe }};</em>
                {%- endfor -%}
            </span>
        {%- endif -%}
        {%- if option.type == 'formation' %}
{{ build_formation(option.roster) }}
        {%- else %}
{{ build_roster(option.roster) }}
        {%- endif -%}
    {%- endfor -%}
{%- endmacro -%}

{%- macro build_formation(formation) -%}
    {%- if formation.units|length %}
        {%- for unit in formation.units -%}
            {{ unit_header(unit) }}
            {%- if unit.detach_unit -%}
{{ build_detach_unit(unit) }}
            {%- else -%}
{{ build_unit(unit) }}
            {%- endif -%}
        {%- endfor -%}
    {%- endif -%}
{%- endmacro -%}


{%- macro build_roster(roster) -%}
<div>
{% for section in roster.sections %}
    {% if section.units|length %}
    {{ section_header(section, 2) }}
    {% for unit in section.units %}
    <div class="bs-callout bs-callout-unit">
        {{ unit_header(unit) }}
        {% if unit.detach_unit %}
            {{ build_detach_unit(unit) }}
        {% else %}
            {{ build_unit(unit) }}
        {% endif %}
    </div>
    {% endfor %}
    {% endif %}
{% endfor %}
</div>

{%- endmacro -%}

<div class="row">
    <div class="col-md-12">
        <div class="pull-left">
            <h1>{{ roster.name }}</h1>
        </div>
        <div class="pull-right">
            <h2 class="text-muted">{{ roster.points }}/{% if roster.limit %}{{ roster.limit }}{% else %}&infin;{% endif %}</h2>
        </div>
    </div>
</div>
<div id="properties">
  <div>{{ options_description(roster.options_description) }}</div>
</div>
<div>
    <p class="text-muted"><em>{{ roster.description }}</em></p>
</div>
<div id="errors">
    {{ errors(roster.errors) }}
</div>
{{ build_roster(roster) }}
{% if roster.statistics %}
<div class="row">
    <div class="col-md-12">
        <div class="pull-left">
            <h3>Statistics</h3>
            {% for item in roster.statistics %}
            <p><b>{{ item }}: </b> {{ roster.statistics[item] }}</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
