{% extends "main.html" %}

{% block container %}
<div class="row">
    <div class="col-md-offset-3 col-md-6">
        <div class="form-sign" style="margin-bottom: 100px; margin-top: 70px">
        <p>Head Quarters is free, cool and useful! </p><p><strong>{{ roster_count }}</strong> rosters created by <strong>Head Quarters. </strong>
        Do you like this project? Please, support us and make donation!</p>
        <div class="row">
            <div class="col-md-6" style="text-align: center">
                <img src="/static/extern/payment/paypal_logo.gif">
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="SYFXQX2962ST6">
                    <input type="image" src="https://www.paypalobjects.com/en_US/RU/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
            <div class="col-md-6"  style="text-align: center">
                <img src="/static/extern/payment/b-head-logo.en.png">
                <iframe frameborder="0" allowtransparency="true" scrolling="no" src="https://money.yandex.ru/embed/small.xml?uid=410011998545839&amp;button-text=06&amp;button-size=s&amp;button-color=orange&amp;targets=Head+Quarters&amp;default-sum=100" width="200" height="31"></iframe>
            </div>
        </div>
            <p>You can contribute by participating in development by forking <a href="https://bitbucket.org/kurvivor19/hqbuilderneo.git">our repository on Bitbucket</a> and submitting pull requests.</p>
        </div>
    </div>
</div>
{% endblock %}
