{% extends "main.html" %}

{% block container %}
<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          What is this site
        </h3>
      </div>
      <div class="panel-body">
        This site is supposed to be a tool for quick and dirty
        roster-building for game systems produced by Games
        Workshop. It was created and is maintained by group of
        concerned gamers full of passion for the lore and rules of
        Warhammer universes.
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          Who are site's creators
        </h3>
      </div>
      <div class="panel-body">
        All who maintain this site do so on their own time and
        money. We can confidently say that we are not receiving profit
        from it, in any form. Currently there are 3 people on the
        team.
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          Does this site have endorsement from GW?
        </h3>
      </div>
      <div class="panel-body">
        No, not really. To be fair we have tried to get it once, but
        did not understand what their legal sent in reply. In any
        case, to avoid drawing their ire we try to abstain from
        providing full rules (unit profiles, formation contents,
        special rules for units etc) or art/photos of models.
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          What they are needed? Roster builder &lt;insert name here&gt; has them.
        </h3>
      </div>
      <div class="panel-body">
        We are trying to provide links to an excellent
        site <a href="https://sites.google.com/site/wh40000rules/">Wahapedia</a>
        that contains profiles and rules in wiki form.
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          What are principles of this roster-builder?
        </h3>
      </div>
      <div class="panel-body">
        Most important principle is: this roster helps create
        error-free, rules-legal rosters. To that end
        <ul>
          <li>If roster contains an error, message is output with enough information to correct it
          <li>If possible, certain alteration of roster that would lead to an error are prevented
        </ul>
        Also, the rosters represent all the models in the army with
        wargear of each of them described as exactly as possible.
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          What are basic operations of roster building?
        </h3>
      </div>
      <div class="panel-body">
        <ul>
          <li>Roster creating - roster is selected from drop-down list and "+" is pressed
          <li>Adding of a detachment (for battle-forged rosters): select detachment from drop-down list and "+" is pressed
          <li>Adding of an unit - unit is selected in drop-down list and "+" is pressed
        </ul>
        All selections from, drop-down lists currently support
        filtering: if part of unit (detachment) name is entered, only
        those unit names that match it are shown.
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          What can one do with units?
        </h3>
      </div>
      <div class="panel-body">
        There are several operations on units that can be
        performed. They are activated by clicking on their glyphs. On
        the following picture they are numbered, and after it the
        explanations are given.
        <br>
        <img src="/static/help_screen_1.png" alt="help image1"/>
        <br>
        <img src="/static/help_screen_2.png" alt="help image1"/>
        <br>
        <ol>
          <li>Start editing unit
          <li>Copy unit - that places another unit with all the same
          options taken into the same section/detachment
          <li>Delete unit
          <li>Stop editing unit and hide its editing interface
        </ol>
        One can also remove all units from section of the roster by
        using "clear" button.
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          What can one do with formations or other detachments?
        </h3>
      </div>
      <div class="panel-body">
        Add, copy or remove them the same way it is done with units.
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          How can one edit units?
        </h3>
      </div>
      <div class="panel-body">
        After starting edit of an unit, there are two
        possibilities. In simple case, there are number of options
        that can be taken, generally:
        <ul>
          <li>select number of something (usually number of models in the unit) from a drop-down
          <li>Select one or several options from check boxes
          <li>Select an option from a list
        </ul>
        However, there are cases, when unit contains models (one or
        more) that can be edited more-or-less independently from the
        rest of the unit. In that case those models are grouped so
        that models in the same group have the same options taken
        (those groups are referred to as subunits later), and a number
        of actions can be taken on them. See further descriptions of
        actions for the numbered glyphs on the following picture:
        <br>
        <img src="/static/help_screen_3.png" alt="help image1"/>
        <br>
        <ol>
          <li>Start editing subunit
          <li>Add subunit - add another subunit with one model
          <li>Split subunit - remove one model from current subunit
              and add one model to next subunit, creating it if
              necessary
          <li>Delete subunit
          <li>Stop editing subunit
        </ol>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          How can one change points limit?
        </h3>
      </div>
      <div class="panel-body">
        Points limit of the roster can be changed in its settings
        (shown after pressing "Settings" button at the top of the
        roster's page).
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          How can one add units from Imperial Armour to the army?
        </h3>
      </div>
      <div class="panel-body">
        For Warhammer 40k armies Imperial Armour units can be enabled
        from the roster settings. If there is no option to enable -
        that is an error and should be reported!
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          Why isn't &lt;my favourite IA unit/army&gt; available? 
        </h3>
      </div>
      <div class="panel-body">
        Sorry. We can only cite our short-handedness for our
        defence. We can barely keep up with main GW studio. That's why
        Warhammer FB is not at the actual version, Age of Sigmar and
        Horus heresy are not available as well. If we will have more
        people, we will add them sooner.
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          Why is design so bad?
        </h3>
      </div>
      <div class="panel-body">
        None of us are website designers. We would welcome any kind of
        professional (and free!) help in that regard.
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          How can one help?
        </h3>
      </div>
      <div class="panel-body">
        Join us! Only thing we ask is willingness to work (something
        like an hour a week would be great) and learn. Our working
        stack is Postgresql - Flask - Tornado - Knockout. Mainly we
        describe units and their rules as Python classes. Do send us a
        mail to provided "support" email address!""
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          Were those questions actually asked?
        </h3>
      </div>
      <div class="panel-body">
        No, not really. But we are/were lonely and somewhat desperate
        for human interaction, so we fake it.
      </div>
    </div>
  </div>
</div>
{% endblock %}
