{% extends "/main.html" %}

{% block scripts %}
    <script type="text/javascript" src="/static/extern/markitup/jquery.markitup.js" xmlns="http://www.w3.org/1999/html"></script>
    <script type="text/javascript" src="/static/extern/markitup/sets/markdown/set_comment.js"></script>
    <script type="text/javascript" src="/static/tools.js"></script>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="/static/extern/markitup/skins/simple/style.css"/>
    <link rel="stylesheet" type="text/css" href="/static/extern/markitup/sets/markdown/style_comment.css"/>
{% endblock %}

{#{% block post_commands %}#}
{#    {% if post.new_count %}#}
{#        <li><a href="#" onclick="scrollToElement($('#new'))"><span class="badge badge-info">Новые: {{ post.new_count }}</span></a></li>#}
{#    {% endif %}#}
{#{% endblock %}#}
{##}
{#{% block post_actions %}#}
{#    {% if can_edit %}#}
{#        <ul class="nav">#}
{#            <li class="dropdown">#}
{#                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Править<b class="caret"></b></a>#}
{#                <ul class="dropdown-menu">#}
{#                    <li><a href="/edit_post/{{ post.id }}">Редактировать</a></li>#}
{#                </ul>#}
{#            </li>#}
{#        </ul>#}
{#    {% endif %}#}
{#{% endblock %}#}

{% block text_area %}
<div id="post_area">
    <h3><span class="muted" data-bind="visible: rate()!='0'"><span data-bind='text: rate()'></span> - </span>{{ data.post.title }}</h3>
    <p>{{ data.post.text }}</p>
    <p>
        {%- for tag in data.post.tags -%}
        <a href="{{ url_for('blog.main', author=data.author.name, tag=tag) }}"><span class="label label-success">{{ tag }}</span></a>
        {% endfor -%}
    </p>
    <div class="row-fluid">
        <div data-bind="template: {data: $data, name: 'record'}"></div>
    </div>
    <hr/>

    <div data-bind="template: {foreach: comments, name: 'comment'}"></div>

    <script type="text/html" id="record">
        <div class="row-fluid" data-bind="visible: !isEdit()">
            <div class="muted" data-bind="visible: edited()"><small><em>Редактировал <span data-bind="text: edited() ? edited().name: ''"></span> (<span data-bind="text: edited() ? edited().time:''"></span>)</em></small></div>
            <img class="pull-left" data-bind="visible: author.avatar, attr: {src: author.avatar}" style="max-height: 42px; margin-right: 10px">
            <a data-bind="attr: {href: author.blog}"><span data-bind="text: author.name"></span></a>
            <span class="badge badge-warning"><span data-bind="text: author.rate"></span></span>
            <br><small class="muted"><span data-bind="text: time"></span></small>
            <div class="pull-right">
                <div class="btn-group" data-bind="visible: canRate">
                    <div class="btn btn-mini" data-bind="enable: !contra&&!pro, click: contraClick, css: {'btn-danger': contra}"><span class="icon-arrow-down"></span></div>
                    <div class="btn btn-mini"><span data-bind="text: rate"></span></div>
                    <div class="btn btn-mini" data-bind="click: proClick, css: {'btn-success': pro} "><span class="icon-arrow-up"></span></div>
                </div>
                <div class="btn-group" data-bind="visible: !canRate()">
                    <div class="btn btn-mini" data-bind="css: {'btn-success': pro, 'btn-danger': contra}"><span data-bind="text: rate"></span></div>
                </div>
                <div class="btn-group" data-bind="visible: !canMore && canAnswer">
                    <div class="btn btn-mini" data-bind="click: onAnswerClick, css: { 'btn-primary': isAnswer}">Ответить</div>
                </div>
                <div class="btn-group" data-bind="visible: canMore && canAnswer">
                    <div class="btn btn-mini" data-bind="click: onAnswerClick, css: { 'btn-primary': isAnswer}">Ответить</div>
                    <div class="btn btn-mini dropdown-toggle" data-bind="css: { 'btn-primary': isAnswer}" data-toggle="dropdown"><span class="icon-chevron-down"></span></div>
                    <ul class="dropdown-menu">
                        <li><a href="#" data-bind="click: onAnswerClick">Ответить</a></li>
                        <li><a href="#" data-bind="click: onEditClick">Править</a></li>
                        <li><a href="#" >Удалить</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div data-bind="visible: isAnswer()||isEdit(), style: {'margin-left': isAnswer() ? '30px' : '0'}" class="row-fluid">
            <div data-bind="visible: preview">
                <hr/>
                <div class="alert alert-warning">
                    <strong>Внимание!</strong> Это только предварительный просмотр. Не забудьте отправить коментарий, если Вас все устраивает.
                </div>
                <div data-bind="html: previewText"></div>
                <hr/>
            </div>
            <form>
                <fieldset>
                    <div class="control-group">
                        <div class="controls">
                            <textarea data-bind="value: editText" class="span12"></textarea>
                        </div>
                    </div>
                    <div class="form-actions">
                        <input class="btn btn-primary" type="button" value="Отправить"  data-bind="click: onSendClick, css: {'disabled': transport.sending()}">
                        <input class="btn" type="button" value="Предпросмотр" data-bind="click: onPreviewClick, css: {'disabled': transport.sending()}">
                        <input class="btn" type="button" value="Отмена" data-bind="visible: isEdit, click: onCancelEdit">
                    </div>
                </fieldset>
            </form>
        </div>
    </script>

    <script type="text/html" id="comment">
        <div data-bind = "style: {'margin-left': level > 10 ? '300px' : (level * 30).toString() + 'px' }, attr: {id: id}" >
            <div data-bind="html: text, visible: !isEdit()"></div>
            <div data-bind="template: {name: 'record', data: $data}"></div>
            <hr/>
        </div>
        <div data-bind="template: {foreach: comments, name: 'comment'}"></div>
    </script>
</div>

    <script type="text/javascript">
    var AjaxTransport = function(url) {
        var self = this;
        self.url = url;
        self.sending = ko.observable(false);
        self.send = function(data, success, fail)
        {
            if (self.sending())
                return false;
            self.sending(true);
            $.ajax({
                url:self.url,
                type: 'POST',
                data: {'data': JSON.stringify(data)},
                dataType : "json",
                success: function (data, textStatus) {
                    if (success)
                        success(data);
                    self.sending(false);
                },
                error: function () {
                    if (fail)
                        fail();
                    self.error.set("Server connection lost");
                    self.sending(false);
                }
            });
            return true;
        }
    };

    var getRate = function(rate) {
        rate = parseInt(rate);
        if (rate > 0)
            return "+" + rate.toString();
        return rate.toString();
    };

    var AuthorList = function(authors) {
        var self= this;

        var Author = function(data) {
            var self = this;
            this.id = data.id;
            this.name = data.name;
            this.avatar = data.avatar ? "http://dabunker.com/static/avatars/" + data.avatar : null; // TODO fix to url_for
            this.blog = "/blog/" + this.name; // TODO fix to url_for
            this.rate = ko.observable(getRate(data.rate));
        };

        this.authors = ko.observable(authors.map(function(data) { return new Author(data) }));

        this.getAuthor = function(id) {
            for (var i = 0; i < self.authors().length; i++)
                if (self.authors()[i].id == id)
                    return self.authors()[i];
            return null;
        };

        this.pushAuthor = function(author_data) {
            var author = self.getAuthor(author_data.id);
            if (!author)
            {
                author = new Author(author_data);
                self.authors.push(author);
            }
            return author;
        };
    };

    var recordMixin = function(self, author, reader, data, post, transport) {
        self.id = data.id;
        self.author = author;
        self.reader = reader;
        self.time = data.time;
        self.edited = ko.observable(data.edit);
        self.canMore = (self.reader != null) && (self.author.id == self.reader.id);

        // Transport
        self.transport = transport;
        var getSendData = function(send_data) {
            send_data.id = self.id;
            send_data.post = post;
            return send_data;
        };

        // Rate
        self.rate = ko.observable(getRate(data.rate));
        self.pro = ko.observable(data.pro);
        self.contra = ko.observable(data.contra);
        var checkCanRate = function() {
            return (self.reader) && (self.author.id != self.reader.id) && !self.pro() && !self.contra();
        };
        self.canRate = ko.observable(checkCanRate());
        var rate = function(val) {
            self.transport.send(getSendData({rate: val}), function(data) {
                self.pro(data.result.pro);
                self.contra(data.result.contra);
                self.rate(getRate(data.result.rate));
                self.author.rate(getRate(data.result.author_rate));
                self.canRate(checkCanRate());
            });
        };
        self.proClick = function() { rate('pro'); };
        self.contraClick = function() { rate('contra'); };

        // Preview
        self.preview = ko.observable(false);
        self.previewText = ko.observable("");
        self.onPreviewClick = function() {
            self.transport.send({preview: self.editText()}, function(data) {
                self.preview(true);
                self.previewText(data.result.text);
            });
        };

        // Answer
        self.editText = ko.observable("");
        self.canAnswer = (self.reader != null);
        self.isAnswer = ko.observable(false);
        self.onAnswerClick = function() {
            self.isAnswer(!self.isAnswer());
        };

        // Edit
        self.isEdit = ko.observable(false);
        self.onCancelEdit = function() {
            self.isEdit(false);
        };
        self.onEditClick = function() {
            if (self.isEdit())
                return;
            self.transport.send({action: 'edit_request'}, function(data) {
                self.isEdit(true);
                self.editText(data.result.text);
            });
        };

        // Sending data
        self.onSendClick = function() {
            if (self.isEdit())
                self.transport.send({edit: self.editText()}, function(data) {
                    self.isEdit(false);
                    self.preview(false);
                    self.previewText("");
{#                    self.text(data.result.text);#} // TODO
                    self.edited(data.result.edited);
                });
            else
                self.transport.send(getSendData({comment: self.editText()}), function(data) {
                    self.isAnswer(false);
                    self.preview(false);
                    self.previewText("");
                    self.addComment(data.result.author, data.result.comment);
                });
        };

        // Comments
        self.comments = ko.observableArray([]);
        self.level = 0;
        self.loadChildren = function(comments) {
            $.each(comments, function(i, val) {
                if (val.parent != self.id)
                    return;
                val.level = self.level + 1;
                self.comments.push(val);
                val.loadChildren(comments);
            })
        };
        self.addComment = function(author_data, comment_data) {
            var author = getAuthor(comment_data.author);
            if (!author)
            {
                author = new Author(author_data);
                pushAuthor(author);
            }
            var comment = new Comment(author, comment_data, self.postId)
            comment.level = self.level + 1;
            self.children.push(comment);
            scrollToElement($("#"+comment_data.id));
            $("textarea").markItUp(mySettings);
        }
    };

    var Post = function(post, authors, reader, transport) {
        var self = this;
        self.authors = authors;

        recordMixin(self, authors.getAuthor(post.author), reader, post, post.id, transport);

        var Comment = function(author, data) {
            recordMixin(this, author, reader, data, self.id, transport);
            this.text = ko.observable(data.text);
            this.parent = data.parent ? data.parent : self.id;
        };

        self.loadChildren(post.comments.map(function(data) {
            return new Comment(authors.getAuthor(data.author), data);
        }));
    };

    ko.applyBindings(new Post({{ data.post|tojson|safe }}, new AuthorList({{ data.authors|tojson|safe }}), {{ data.reader|tojson|safe }}, new AjaxTransport({{ url_for('blog.update_post')|tojson|safe }})), document.getElementById("post_area"));
    $("textarea").markItUp(mySettings);
    </script>
{% endblock %}

