<div id="infoModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 data-bind="text: header, attr: {class: 'text-'+type()}"></h4>
            </div>
            <div class="modal-body">
                <span data-bind="html: message"></span>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary" data-dismiss="modal" aria-hidden="true" data-bind="visible: confirmFlag(), click: onYesClick">Yes</a>
                <a href="#" class="btn btn-default" data-dismiss="modal" aria-hidden="true" data-bind="text: confirmFlag() ? 'No' : 'Close'">No</a>
            </div>
        </div>
    </div>
</div>
<script>
    document.modalInfo = new Info('infoModal', function() { $('#infoModal').modal(); });
</script>
