<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <p>{{ text|safe }}<p>

    <p>Best regards, <a href="http://hq-builder.com">Head Quarters team</a></p>
    <div>Follow Head Quarters
        <a href="https://plus.google.com/103302169497502333419">G+</a>,
        <a href="https://www.facebook.com/hqbuilder">Facebook</a>,
        <a href="https://twitter.com/hqbuilder">Twitter</a>
    </div>
</body>
</html>
